
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url('/images/login-banner-utn.png') center/cover no-repeat fixed;
}

/* reset básico */
* { 
  margin:0;
  padding:0;
  box-sizing:border-box;
 }

 .error-message{
  color: red;
  padding-top: 10px;
 }

form {
  background: rgba(108,110,230,.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 8px 32px rgba(0,0,0,.37);
  border: 1px solid rgba(255,255,255,.2);
}


label { 
  display:block;
  color:#fff;
  margin-bottom:10px; }

input { 
  width:100%;
  padding:10px;
  border-radius:10px; 
  background:#fbfbfb;
 }

.button-login { 
  cursor:pointer; 
  background:#e6e5e3; 
  color:#141313;
  border-radius:10px;
  padding:10px; 
}
button:disabled { 
  background:#717070;
  color:#888;
  cursor:not-allowed; 
  border-color:#444; }
