.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error-message {
  color: #d32f2f; /* Un color rojo para destacar el error */
  font-size: 0.8rem;
  margin-top: 4px;
}

/* Estilos adicionales para que el formulario se vea un poco mejor */
form {
   background: rgba(108, 110, 230, 0.1); /* color base con transparencia */
  backdrop-filter: blur(8px);        
  -webkit-backdrop-filter: blur(8px);
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

label {
  color: white;
}

.button-login {
  cursor: pointer;
  background-color: rgb(230, 229, 227);
  color: #141313;
}

button:disabled {
  background-color: #717070; /* Un gris más oscuro para indicar inactividad */
  color: #888;          /* Un color de texto más claro y apagado */
  cursor: not-allowed;   /* Cambia el cursor para mostrar que no se puede hacer clic */
  border-color: #444;    /* Opcional: ajusta el borde también */
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/login-banner-utn.png') center/cover no-repeat fixed;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}