.dashboard-container {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 100px 1fr 30px;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  height: 100dvh;
}

.dashboard-container nav{
 position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #9a9999; 
  border-right: 1px solid #ddd; 
  left: -200px;
}

.dashboard-container header {
  grid-area: header;
  background-color: #263e77;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 0 1rem;
}

.dashboard-container main {
  grid-area: main;
  background-color: #9c9c9c;
  color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  background-color: #1e1e58;
  border-radius: 8px;
  padding: 1rem;
}

.dashboard-container footer{
  grid-area: footer;
  display: flex;
  padding: 10px;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .dashboard-container {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr auto;
    grid-template-areas: 
      "header header"
      "nav main"
      "footer footer";
  }

  .dashboard-container nav{
     grid-area: nav;
    position: static;
    left: 0;
    height: auto;
    background-color: #9c9c9c;
  }
}
