html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/login-banner-utn.png') center/cover no-repeat fixed;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  min-height: 100vh;
}

.sidebar {
  grid-row: span 2;
  background-color: #1e1e58;
  color: white;
  padding: 1rem;
}

.header {
  background-color: #263e77;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.main {
  background-color: #12121e;
  color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  background-color: #1e1e58;
  border-radius: 8px;
  padding: 1rem;
}
