/* Directivas de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body, #root {
  display: block;         /* <- quita el flex global */
  background: #0f1115;    /* fondo neutro para toda la app */
  font-family: 'Inter', sans-serif;
}